@font-face {
    font-family: Grotesk;
    src: url(assets/FoundersGrotesk_woff/FoundersGrotesk-Medium.woff);
}
 
*{
    margin: 0px;
    padding: 0;
}

.container{
    background-image: url("assets/dante_no_sfondo_sinistra.svg");
    background-repeat: no-repeat;
    background-size: 58%;
    background-position:left center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100vh;
}

.container.hide {
    background-image: none;
}

.logo{
    margin-right: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo p{
    margin-top: 30px;
    font-family: Grotesk;
    text-align: center;
  
}

.logo img{
    margin-top:60px;
    height: 70px;
}

.cont-foglia{
    margin-top: 2rem;
    height: auto;
    width: 30px;
}

.foglia{
    fill: black;
}
a:hover .foglia{
    fill: #262626;
    transition: all 0.4s ease;
}
.social-container{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.social img{
    width: 85px;
    height: 85px;  
}
.social{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5.5rem;
    background-color: red;
    height: 100%;
    width: 100%;
}
.active{
    display: block;
}
.invis {
    opacity: 0;
}

/* MOBILE */
@media (max-width:768px) {
    .container{
        display: flex;
        justify-content: center;
        background-image: none;
       
    }
    .logo{
        justify-content: center;
        margin: 0px;
    }
  
}

