@font-face {
    font-family: Grotesk;
    src: url(assets/FoundersGrotesk/FoundersGrotesk-Medium.otf);
}
 
*{
    margin: 0px;
    padding: 0;
}

.container{
    background-image: url("assets/dante_no_sfondo_sinistra.svg");
    background-repeat: no-repeat;
    background-size: 58%;
    background-position:left center;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100vh;
}
.logo{
    margin-right: 4rem;
    display: flex;
    flex-direction: column;
}

.logo p{
    margin-top: 30px;
    font-family: Grotesk;
    text-align: center;
  
}

.logo img{
    
    margin-top:60px;
    height: 70px;

}

/* MOBILE */
@media (max-width:768px) {
    .container{
        display: flex;
        justify-content: center;
        background-image: none;
       
    }
    .logo{
        justify-content: center;
        margin: 0px;
    }
  
}

